# Feature Selection

In [1]:
import textfeatures as tf
import pandas as pd

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tanya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df= pd.read_excel(r"C:\Users\Tanya\Desktop\Capstone\testfinal_tanya_2.xlsx", encoding = "latin")
df.head()

,Unnamed: 0,rating,customer name,review title,reviews,likes,dislikes,date
0,0,3,Amit Patil,Does the job,The product is not very good . it is just ok. ...,413,233,2018-05-25
1,1,3,md.shakeel ahmed,Nice,Reviewing after using 15 days what i observed ...,152,100,2018-08-25
2,2,5,Samtabdi Nayak,Best in the market!,I don’t know all above or below comments but f...,20,8,2019-01-25
3,3,4,ranjeeta sabat,Really Nice,I m giving my review after 10 days. The bed's ...,20,17,2020-06-25
4,4,5,Rahul Mohandas Nair,Must buy!,The product is satisfactory! I would say the b...,20,7,2020-11-25

In [3]:
tf.word_count(df,"reviews","word_cnt")
df[["reviews","word_cnt"]].head() #number of words in each row

                                             reviews  word_cnt
0  The product is not very good . it is just ok. ...        45
1  Reviewing after using 15 days what i observed ...       150
2  I don’t know all above or below comments but f...       137
3  I m giving my review after 10 days. The bed's ...       179
4  The product is satisfactory! I would say the b...       118

In [4]:
tf.char_count(df,"reviews","char_len")
df[["reviews","char_len"]].head() #characters

                                             reviews  char_len
0  The product is not very good . it is just ok. ...       236
1  Reviewing after using 15 days what i observed ...       768
2  I don’t know all above or below comments but f...       754
3  I m giving my review after 10 days. The bed's ...       997
4  The product is satisfactory! I would say the b...       632

In [5]:
tf.avg_word_length(df,"reviews","avg_wrd_length")
df[["reviews","avg_wrd_length"]].head() #avg word length

                                             reviews  avg_wrd_length
0  The product is not very good . it is just ok. ...        4.363636
1  Reviewing after using 15 days what i observed ...        4.154362
2  I don’t know all above or below comments but f...        4.510949
3  I m giving my review after 10 days. The bed's ...        4.575419
4  The product is satisfactory! I would say the b...        4.401709

In [6]:
tf.stopwords_count(df,"reviews","stopwords_cnt")
df[["reviews","stopwords_cnt"]].head()

                                             reviews  stopwords_cnt
0  The product is not very good . it is just ok. ...             20
1  Reviewing after using 15 days what i observed ...             67
2  I don’t know all above or below comments but f...             49
3  I m giving my review after 10 days. The bed's ...             77
4  The product is satisfactory! I would say the b...             51

In [7]:
tf.stopwords(df,"reviews","stopwords")
df[["reviews","stopwords"]].head()

,reviews,stopwords
0,The product is not very good . it is just ok. ...,"[is, not, very, it, is, just, having, when, on..."
1,Reviewing after using 15 days what i observed ...,"[after, what, i, is, the, are, very, and, if, ..."
2,I don’t know all above or below comments but f...,"[all, above, or, below, but, for, me, a, this,..."
3,I m giving my review after 10 days. The bed's ...,"[m, my, after, and, is, it, is, in, this, the,..."
4,The product is satisfactory! I would say the b...,"[is, the, is, in, this, did, my, of, the, in, ..."

In [8]:
df['reviews'] = df['reviews'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df['reviews'].head() #lowercase

0    the product is not very good . it is just ok. ...
1    reviewing after using 15 days what i observed ...
2    i don’t know all above or below comments but f...
3    i m giving my review after 10 days. the bed's ...
4    the product is satisfactory! i would say the b...
Name: reviews, dtype: object

In [9]:
df['reviews'] = df['reviews'].str.replace('[^\w\s]','')
df['reviews'].head() #removing punctuation

0    the product is not very good  it is just ok ha...
1    reviewing after using 15 days what i observed ...
2    i dont know all above or below comments but fo...
3    i m giving my review after 10 days the beds lo...
4    the product is satisfactory i would say the bu...
Name: reviews, dtype: object

In [10]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df['reviews'] = df['reviews'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['reviews'].head()

0    product good ok san voice im sitting ti like k...
1    reviewing using 15 days observed edges sharp e...
2    dont know comments best product within range m...
3    giving review 10 days beds looks design good t...
4    product satisfactory would say build quality g...
Name: reviews, dtype: object

In [11]:
freq = pd.Series(' '.join(df['reviews']).split()).value_counts()[:50]
freq #most words

good            1161
product          964
installation     511
bed              485
quality          396
money            311
nice             294
price            227
flipkart         223
buy              190
bad              184
time             181
value            177
dont             160
also             147
service          137
one              136
done             131
wood             129
delivery         113
worth            113
design            94
great             85
happy             84
ok                83
excellent         82
worst             82
go                80
use               79
satisfied         75
really            75
best              73
got               73
looks             72
awesome           72
perfect           71
jeeves            70
storage           70
person            69
durability        68
like              68
size              67
poor              66
well              62
installed         60
looking           60
low               59
edges             57
overall           57
much              56
dtype: int64

In [14]:
pip install textblob

Requirement already satisfied: textblob in c:\users\tanya\anaconda3\lib\site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in c:\users\tanya\anaconda3\lib\site-packages (from textblob) (3.5)
Requirement already satisfied: tqdm in c:\users\tanya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.47.0)
Requirement already satisfied: joblib in c:\users\tanya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (0.16.0)
Requirement already satisfied: regex in c:\users\tanya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2020.6.8)
Requirement already satisfied: click in c:\users\tanya\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from textblob import TextBlob
df['reviews'][:5].apply(lambda x: str(TextBlob(x).correct())) #spelling correction

0    product good ok san voice in sitting ti like r...
1    reviewing using 15 days observed edges sharp e...
2    dont know comments best product within range m...
3    giving review 10 days beds looks design good t...
4    product satisfactory would say build quality g...
Name: reviews, dtype: object

In [16]:
TextBlob(df['reviews'][1]).words

WordList(['reviewing', 'using', '15', 'days', 'observed', 'edges', 'sharp', 'even', 'u', 'kneel', 'back', 'head', 'support', 'u', 'feel', 'sharpness', 'bad', 'u', 'sleep', 'cracking', 'sound', 'coming', 'bed', 'proper', 'installation', 'may', 'b', 'another', 'bad', 'thing', 'can', 'not', 'dismantle', 'bed', 'ourself', 'based', 'screws', 'nut', 'bolts', 'design', 'good', 'storage', 'facility', 'u', 'store', 'good', 'amount', 'stuff', 'coming', 'jeeves', 'installation', 'side', 'bad', 'irresponsible', 'persons', 'hired', 'time', 'sense', 'nothing', 'give', '1', 'star', 'installationbrso', 'good', 'purchase', 'go', 'guys', 'bed', 'big', 'size', 'trust', '4', 'members', 'easily', 'fit', 'bed', '2', 'adults', '2', 'kids', 'good', 'great'])

In [17]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['reviews'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()])) #stemming

0    product good ok san voic im sit ti like kich k...
1    review use 15 day observ edg sharp even u knee...
2    dont know comment best product within rang mon...
3    give review 10 day bed look design good think ...
4    product satisfactori would say build qualiti g...
Name: reviews, dtype: object

In [18]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['reviews'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()])) #lemmatization

0    product good ok san voic im sit ti like kich k...
1    review use 15 day observ edg sharp even u knee...
2    dont know comment best product within rang mon...
3    give review 10 day bed look design good think ...
4    product satisfactori would say build qualiti g...
Name: reviews, dtype: object

In [19]:
TextBlob(df['reviews'][0]).ngrams(2)
#N-grams are the combination of multiple words used together.

[WordList(['product', 'good']),
 WordList(['good', 'ok']),
 WordList(['ok', 'san']),
 WordList(['san', 'voice']),
 WordList(['voice', 'im']),
 WordList(['im', 'sitting']),
 WordList(['sitting', 'ti']),
 WordList(['ti', 'like']),
 WordList(['like', 'kich']),
 WordList(['kich', 'kich']),
 WordList(['kich', 'feeling']),
 WordList(['feeling', 'well']),
 WordList(['well', 'installation']),
 WordList(['installation', 'ingenious']),
 WordList(['ingenious', 'good']),
 WordList(['good', 'pursen']),
 WordList(['pursen', 'happy']),
 WordList(['happy', 'installation']),
 WordList(['installation', 'im']),
 WordList(['im', 'happy']),
 WordList(['happy', 'product'])]

In [20]:
TextBlob(df['reviews'][0]).ngrams(3)

[WordList(['product', 'good', 'ok']),
 WordList(['good', 'ok', 'san']),
 WordList(['ok', 'san', 'voice']),
 WordList(['san', 'voice', 'im']),
 WordList(['voice', 'im', 'sitting']),
 WordList(['im', 'sitting', 'ti']),
 WordList(['sitting', 'ti', 'like']),
 WordList(['ti', 'like', 'kich']),
 WordList(['like', 'kich', 'kich']),
 WordList(['kich', 'kich', 'feeling']),
 WordList(['kich', 'feeling', 'well']),
 WordList(['feeling', 'well', 'installation']),
 WordList(['well', 'installation', 'ingenious']),
 WordList(['installation', 'ingenious', 'good']),
 WordList(['ingenious', 'good', 'pursen']),
 WordList(['good', 'pursen', 'happy']),
 WordList(['pursen', 'happy', 'installation']),
 WordList(['happy', 'installation', 'im']),
 WordList(['installation', 'im', 'happy']),
 WordList(['im', 'happy', 'product'])]

In [21]:
tf1 = (df['reviews'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1
#Term frequency specifies how frequently a term appears in the entire document.
#It can be thought of as the probability of finding a word within the document.

     words  tf
0      bed   4
1     good   4
2        u   4
3      bad   3
4   coming   2
..     ...  ..
62   store   1
63   trust   1
64    size   1
65  easily   1
66    head   1

[67 rows x 2 columns]

In [22]:
import numpy as np

In [23]:
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(df.shape[0]/(len(df[df['reviews'].str.contains(word)])))


tf1
#The more the value of IDF, the more unique is the word.

     words  tf       idf
0      bed   4  1.868018
1     good   4  0.873714
2        u   4  0.357359
3      bad   3  2.702479
4   coming   2  5.053854
..     ...  ..       ...
62   store   1  5.880533
63   trust   1  5.880533
64    size   1  3.856151
65  easily   1  4.735401
66    head   1  4.360707

[67 rows x 3 columns]

In [24]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

     words  tf       idf      tfidf
0      bed   4  1.868018   7.472074
1     good   4  0.873714   3.494858
2        u   4  0.357359   1.429437
3      bad   3  2.702479   8.107437
4   coming   2  5.053854  10.107709
..     ...  ..       ...        ...
62   store   1  5.880533   5.880533
63   trust   1  5.880533   5.880533
64    size   1  3.856151   3.856151
65  easily   1  4.735401   4.735401
66    head   1  4.360707   4.360707

[67 rows x 4 columns]

In [27]:
pd.set_option("max_rows", None)
tf1

               words  tf       idf      tfidf
0                bed   4  1.868018   7.472074
1               good   4  0.873714   3.494858
2                  u   4  0.357359   1.429437
3                bad   3  2.702479   8.107437
4             coming   2  5.053854  10.107709
5       installation   2  1.697393   3.394786
6                  2   2  3.107944   6.215889
7               star   1  4.162881   4.162881
8             screws   1  5.053854   5.053854
9            another   1  4.882004   4.882004
10              give   1  3.801091   3.801091
11             based   1  6.034684   6.034684
12            proper   1  4.088774   4.088774
13               fit   1  3.592337   3.592337
14             sense   1  6.217005   6.217005
15            amount   1  6.034684   6.034684
16           nothing   1  5.341536   5.341536
17              feel   1  4.882004   4.882004
18                 4   1  3.293844   3.293844
19          purchase   1  3.667560   3.667560
20         reviewing   1  6.217005   6.217005
21          observed   1  7.826443   7.826443
22          facility   1  6.727831   6.727831
23             using   1  4.648389   4.648389
24                 b   1  0.724767   0.724767
25           persons   1  5.747002   5.747002
26             bolts   1  6.034684   6.034684
27             edges   1  3.856151   3.856151
28             sleep   1  5.187386   5.187386
29              kids   1  4.735401   4.735401
30            design   1  3.211323   3.211323
31            cannot   1  4.781921   4.781921
32              days   1  3.732099   3.732099
33             hired   1  7.826443   7.826443
34           ourself   1  7.133296   7.133296
35           members   1  6.440149   6.440149
36               nut   1  5.428548   5.428548
37             stuff   1  5.880533   5.880533
38         sharpness   1  7.826443   7.826443
39           storage   1  3.667560   3.667560
40            adults   1  6.727831   6.727831
41                go   1  0.774588   0.774588
42             sharp   1  3.819110   3.819110
43     irresponsible   1  7.133296   7.133296
44  installationbrso   1  7.826443   7.826443
45            jeeves   1  3.563763   3.563763
46             great   1  3.469734   3.469734
47              side   1  3.783392   3.783392
48         dismantle   1  5.428548   5.428548
49               may   1  4.648389   4.648389
50              guys   1  4.648389   4.648389
51           support   1  4.360707   4.360707
52          cracking   1  7.133296   7.133296
53              time   1  2.533138   2.533138
54             kneel   1  7.826443   7.826443
55              even   1  3.783392   3.783392
56              back   1  4.300083   4.300083
57             sound   1  4.648389   4.648389
58               big   1  4.459147   4.459147
59                 1   1  2.829231   2.829231
60             thing   1  3.372096   3.372096
61                15   1  5.261494   5.261494
62             store   1  5.880533   5.880533
63             trust   1  5.880533   5.880533
64              size   1  3.856151   3.856151
65            easily   1  4.735401   4.735401
66              head   1  4.360707   4.360707

In [1]:
# Sentiment Analysis

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
df_bow = bow.fit_transform(df['reviews'])
df_bow

<2506x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 16112 stored elements in Compressed Sparse Row format>

In [36]:
df['reviews'][:5].apply(lambda x: TextBlob(x).sentiment)

0     (0.6666666666666666, 0.7833333333333333)
1    (0.15535714285714292, 0.4928571428571429)
2                  (0.255, 0.6133333333333333)
3    (0.35694444444444445, 0.5111111111111111)
4    (0.32222222222222224, 0.5766666666666668)
Name: reviews, dtype: object

In [37]:
df['sentiment'] = df['reviews'].apply(lambda x: TextBlob(x).sentiment[0] )
df[['reviews','sentiment']]

                                                reviews  sentiment
0     product good ok san voice im sitting ti like k...   0.666667
1     reviewing using 15 days observed edges sharp e...   0.155357
2     dont know comments best product within range m...   0.255000
3     giving review 10 days beds looks design good t...   0.356944
4     product satisfactory would say build quality g...   0.322222
...                                                 ...        ...
2501  product used instalation person good fully exp...   0.700000
2502  gud looking cheap best base touch floor base r...  -0.050000
2503                                       poor quality  -0.400000
2504                         good qualityand good price   0.700000
2505  cheap strong feasible cant move shuffle installed   0.416667

[2506 rows x 2 columns]